@{
    ViewData["Title"] = "Catalogue";
}
@model BookViewModel
<h1>This is my Bookstore</h1>

@foreach (Book b in Model.Books)
{
                <partial name="Summary" model="b"/> 
}
<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-class-enabled="true"
     class="btn-group btn-dark pull-right m-1"></div>