
@{
}
@model Basket
<div class="">
    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <i class="fa fa-shopping-cart"></i>
            <b>Your cart:</b>
            @Model.Items.Sum(x => x.Quantity) item(s)
            @Model.CalculateTotal().ToString("c")
        </small>
    }
    
</div>